html {
    scroll-behavior: smooth;
}
  
@media (min-width: 992px) {

    body {
        padding-top: 0;
        padding-left: 20%;
    }

    #sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
    }

    #sidebar .foto {
        width: 200px;
        height: 200px;
        border: 10px solid rgba(255, 255, 255, 0.2);
    }

    #sidebar .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sidebar .nav-link {
        font-weight: bold;
    }

    section.isi-halaman {
        min-height: 100vh;
    }
}




